<div class="header">
  <h2>
    Sage details #{{sage.id}}
  </h2>
</div>
<div class="container">
  <mat-list>
    <mat-list-item><b>Name: &nbsp;</b> {{ sage.name}}</mat-list-item>
    <mat-list-item><b>Age: &nbsp;</b> {{ sage.age}}</mat-list-item>
    <mat-list-item><b>City: &nbsp;</b> {{ sage.city}}</mat-list-item>
  </mat-list>
  <h3><b>Books</b></h3>
  <table mat-table
         [dataSource]="sage.books || []"
         class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell
          *matHeaderCellDef> Name
      </th>
      <td mat-cell
          *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell
          *matHeaderCellDef> Description
      </th>
      <td mat-cell
          *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="container__actions">
    <button class="btn btn-warning"
            (click)="editSage()">Edit
    </button>
    <button class="btn btn-danger"
            (click)="deleteSage()">Delete
    </button>
  </div>
</div>
